@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@500&family=Raleway:ital,wght@1,500&family=Rokkitt:wght@200&family=Satisfy&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
.ajuste_img{
    object-fit: cover;
}
